<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>LIST</title>
  </head>
  <body>
    <div layout:fragment="contents">
      <h2 class="mt-5 mb-3 m">게시판</h2>
      <form action="/board/replyProcess" method="POST" class="mt-5">
        <input type="hidden" name="reGroup" value="100" th:value="${param.reGroup}" />
        <input type="hidden" name="reLevel" value="390" th:value="${param.reLevel}" />
        <input type="hidden" name="reStep" value="38924" th:value="${param.reStep}" />
        <div class="mb-3">
          <label for="" class="form-label">제목</label>
          <input type="text" class="form-control" id="" placeholder="제목" name="subject" />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">글쓴이</label>
          <input type="text" class="form-control" id="" placeholder="글쓴이" name="name" />
        </div>

        <div class="mb-3">
          <label for="" class="form-label">비밀번호</label>
          <input type="password" class="form-control" id="" placeholder="비밀번호" name="password" />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">내용</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="contents"></textarea>
        </div>
        <div class="mt-5 text-center">
          <button type="submit" class="btn btn-primary btn-lg">확인</button>
          <button type="reset" class="btn btn-secondary btn-lg">취소</button>
        </div>
      </form>
    </div>
  </body>
</html>
