<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>게시판</title>
  </head>
  <body>
    <div class="container" id="contents" layout:fragment="contents">
      <h2 class="mt-5 mb-3">게시판</h2>

      <table class="table table-striped mt-5 text-center">
        <colgroup>
          <col style="width: 20%; background-color: #eee" />
          <col style="width: 80%; background-color: #ffffff" />
        </colgroup>

        <tr>
          <th>제목</th>
          <td>[[${replyBoardDto.subject}]]</td>
        </tr>

        <tr>
          <th>이름</th>
          <td>[[${replyBoardDto.name}]]</td>
        </tr>

        <tr>
          <th>조회수</th>
          <td>[[${replyBoardDto.hit}]]</td>
        </tr>

        <tr>
          <th>날짜</th>
          <td>[[${replyBoardDto.regDate}]]</td>
        </tr>

        <tr style="height: 100px; vertical-align: middle">
          <th>내용</th>
          <td>[[${replyBoardDto.contents}]]</td>
        </tr>
      </table>
      <a th:href="@{/board/delete(no = ${replyBoardDto.no})}"><button class="btn btn-danger">삭제하기</button></a>
      <a th:href="@{/board/update(no = ${replyBoardDto.no})}"><button class="btn btn-primary">수정하기</button></a>
      <a href="/board/list"><button class="btn btn-secondary">리스트로 돌아가기</button></a>
      <a th:href="@{/board/reply(no = ${replyBoardDto.no}, reGroup=${replyBoardDto.reGroup}, reLevel=${replyBoardDto.reLevel}, reStep=${replyBoardDto.reStep})}">
        <button class="btn btn-info col-2">답글쓰기</button>
      </a>
    </div>
  </body>
</html>
