<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
                xmlns:th="http://www.thymeleaf.org" 
                layout:decorate="~{/layout/layout.html}">
<head>
  <title>BOARD WRITE</title>
</head>
<body>
  <div class="container" id="contents" layout:fragment="contents">
    <h2>VIEW</h2>
    
    <table class="table mt-5">
      <tbody>
        <tr>
          <th>SUBJECT</th>
          <td th:text="${replyBoardDto.subject}">subject</td>
        </tr>
        <tr>
          <th scope="row">WRITER</th>
          <td th:text="${replyBoardDto.writer}">writer</td>
        </tr>
        <tr>
          <th scope="row">DATE</th>
          <td th:text="${replyBoardDto.regDate}">regDate</td>
        </tr>
        <tr>
          <th scope="row">HIT</th>
          <td th:text="${replyBoardDto.hit}">hit</td>
        </tr>
        <tr>
          <th scope="row">CONTENTS</th>
          <td th:text="${replyBoardDto.contents}" class="contents">contents</td>
        </tr>
      </tbody>
    </table>
    <div class="btns text-center">
      <a href="/board/list" class="btn btn-lg btn-primary">LIST</a>
      <a href="/board/modify" class="btn btn-lg btn-primary">MODIFY</a>
      <a href="/board/reply" th:href="@{/board/reply(no=${replyBoardDto.no},reGroup=${replyBoardDto.reGroup}, reLevel=${replyBoardDto.reLevel}, reStep=${replyBoardDto.reStep})}" class="btn btn-lg btn-primary">REPLY</a>
    </div>
  </div>
</body>
</html>