<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjang051.ch04.dao.BoardDao">
	
	<select id="getAllBoard" resultType="com.jjang051.ch04.dto.BoardDto">
		SELECT * FROM BOARD03 ORDER BY NO
	</select>
	
	<select id="insertBoard" resultType="com.jjang051.ch04.dto.BoardDto">
		INSERT INTO BOARD03 VALUES (BOARD03_SEQ.NEXTVAL, #{userName}, #{subject}, #{contents}, SYSDATE, 0)
	</select>

	
</mapper>
