body {
  font-family: "Noto Sans KR";
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  font-weight: 600;
  color: rgb(21, 177, 177);
}

#contents {
  min-height: 500px;
}

.space1 {
  padding-left: 0px !important;
}

.space2 {
  padding-left: 30px !important;
}

.space3 {
  padding-left: 60px !important;
}