<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>write</h1>
  <form action="/board/writeProcess" method="post">
    <div><input type="text" name="userName"></div>
    <div><input type="text" name="subject"></div>
    <div><textarea name="contents" id="" cols="30" rows="10"></textarea></div>
    <div><button>확인</button></div>
  </form>
</body>
</html>